:root {
  --blue: #039be5;
  --red: #ea736d;
  --basic: #fbdc4d;
  --line: #fbdc4d;
  --button: #fbdc4d;
  --buttonHover: #ffd200;
  --buttonActive: #e1bc10;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'M PLUS 1p';
  font-size: 24px;
  color: #000;
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: black;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}
p::selection {
  background-color: var(--basic);
}
h1,
h2,
h3,
h4 {
  font-weight: 800;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
svg {
  width: 100%;
  height: 100%;
  display: block;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
.line-bottom {
  position: relative;
  z-index: 2;
  width: fit-content;
}
.line-bottom:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -2px;
  right: -2px;
  height: 7px;
  background-color: var(--line);
  border-radius: 5px;
  z-index: -1;
}
.title-name .line-bottom:after {
  bottom: 25px;
}
.title-main:after {
  bottom: 20px;
}
.animate-border {
  position: relative;
  width: fit-content;
  z-index: 2;
}
.animate-border:before,
.animate-border:after {
  content: "";
  position: absolute;
  bottom: 3px;
  width: 0;
  height: 4px;
  background-color: var(--line);
  border-radius: 2px;
  transition: .5s;
  z-index: -1;
}
.animate-border:before {
  left: 50%;
}
.animate-border:after {
  right: 50%;
}
.animate-border:hover:before,
.animate-border:hover:after {
  width: 55%;
}
.button {
  display: inline-block;
  background-color: var(--button);
  font-size: 22px;
  font-weight: 700;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 64px;
  border-radius: 64px;
  border: none;
  transition: background-color 0.2s ease-in;
  box-shadow: 0px 8px 20px 0px rgba(122, 116, 89, 0.35);
}
.button:hover {
  background-color: var(--buttonHover);
}
.button:active {
  background-color: var(--buttonActive);
}
.button:focus {
  border: 1px dotted var(--red);
}
.button-contacts {
  display: inline-block;
  color: #464646;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 700;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 56px;
  border-radius: 56px;
  border: 4px solid #464646;
  box-shadow: 0px 8px 20px 0px rgba(122, 116, 89, 0.35);
  transition: color 0.2s ease-in, border 0.2s;
}
.button-contacts:hover {
  border: 4px solid #797979;
  color: #797979;
}
.button-contacts:active {
  color: #181818;
  border: 4px solid #181818;
}
.button-contacts:focus {
  border: 1px dotted var(--red);
}
.title-medium {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1;
}
.title-main {
  font-size: 64px;
  font-weight: 800;
  letter-spacing: 1;
}
.icons-connect {
  display: flex;
}
.icons-connect-icon {
  margin-right: 30px;
}
.icons-connect-icon:focus {
  border: 1px dotted red;
}
.color-git {
  color: #000;
  transition: color 0.2s ease-in;
}
.color-git:hover {
  color: #000000b6;
}
.circle-vk {
  padding: 6px 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #4d76a1;
  font-size: 25px;
  text-align: center;
  transition: background-color 0.2s ease-in;
}
.circle-vk:hover {
  background-color: #39597a;
}
.color-telegramm {
  color: #039be5;
  transition: color 0.2s ease-in;
}
.color-telegramm:hover {
  color: #085074;
}
.color-facebook {
  color: #3b5998;
  transition: color 0.2s ease-in;
}
.color-facebook:hover {
  color: #284279;
}
.header {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 70px;
  background-image: url(../img/bg/line.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
  overflow: hidden;
}
.header-nav-wrapper {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-size: 42px;
  font-weight: 800;
}
.header-logo:hover {
  opacity: 0.8;
}
.nav-link {
  margin-right: 80px;
  font-size: 20px;
  font-weight: 700;
}
.nav-link:last-child {
  margin-right: 0;
}
.nav-link:focus {
  border: 1px dotted var(--red);
}
.header-nav-icons {
  display: flex;
}
.nav-icon {
  display: inline-block;
  margin-right: 20px;
}
.nav-icon:last-child {
  margin-right: 0;
}
.nav-icon:focus {
  border: 1px dotted var(--red);
}
.nav-icon svg {
  width: 25px;
}
.color-linkedin svg:hover,
.color-linkedin svg:active {
  fill: #0077b5;
}
.color-github svg:hover,
.color-github svg:active {
  fill: #6cc644;
}
.color_vk svg:hover,
.color_vk svg:active {
  fill: #4d76a1;
}
.header-container {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 150px;
  padding-bottom: 80px;
}
.header-content {
  width: 50%;
}
.header-img-wrapper {
  margin-left: 125px;
  position: relative;
  z-index: 2;
}
.header-img-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 30%;
  background-image: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.502;
  z-index: -1;
}
.title-name {
  margin-bottom: 25px;
  font-size: 90px;
  line-height: 1;
  font-weight: 800;
}
.header-content-text {
  margin-bottom: 40px;
  line-height: 1.5;
  font-weight: 500;
  color: #393f47;
}
.header-content-buttons {
  position: relative;
}
.bg-header {
  margin-top: -240px;
  z-index: -2;
}
.header-content-wrapper {
  display: flex;
  padding: 70px 0px 240px 0px;
  margin-top: -20px;
}
.header-content-skills {
  margin-right: 180px;
}
.header-content-title {
  margin-bottom: 35px;
}
.skills {
  margin-bottom: 60px;
}
.skills li:before {
  content: "— ";
}
.header-icon-connect {
  margin-bottom: 25px;
}
.mail-connect {
  border-bottom: 1px solid #000;
}
.mail-connect:hover {
  border-bottom: 1px solid var(--blue);
  color: var(--blue);
}
.mail-connect:active {
  border-bottom: 1px solid var(--red);
  color: var(--red);
}
.portfolio {
  padding: 120px 0;
  background-color: #f4f8f9;
}
.portfolio-title-main {
  display: inline-block;
  margin-bottom: 50px;
}
.portfolio-title-main .title-main {
  display: inline-block;
}
.portfolio-progects {
  margin-bottom: 45px;
}
.progect-type {
  margin-right: 80px;
  font-size: 28px;
  font-weight: 800;
  color: #8fa5ae;
  font-family: 'MPLUS 1p', sans-serif;
  border: none;
  background-color: #f4f8f9;
}
.progect-type:hover,
.progect-type:active {
  color: var(--red);
}
.progect-type:last-child {
  margin-right: 0;
}
.chosen {
  color: #000000;
}
.chosen:hover,
.chosen:active {
  color: #000;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project {
  width: 365px;
  margin-bottom: 65px;
}
.big-project {
  width: 555px;
}
.project-img {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
.project-img:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--basic);
  opacity: 0;
  z-index: 2;
  transition: 0.6s;
}
.project-img:hover .project-button {
  transform: translate(-50%, -50%);
}
.project-img:hover .project-button-small {
  transform: translate(-21%, -50%);
}
.project-img:hover:before {
  opacity: 0.7;
}
.project-button {
  overflow: hidden;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -500%);
  background-color: #ffffff;
  font-family: 'M PLUS 1p';
  font-size: 22px;
  color: var(--red);
  font-weight: 800;
  height: 55px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 55px;
  border-radius: 55px;
  border: none;
  transition: 0.6s;
  box-shadow: 0px 8px 20px 0px rgba(122, 116, 89, 0.35);
}
.project-button:hover {
  transition: 0.6s;
  background-color: var(--red);
  color: #ffffff;
}
.project-button:active {
  background-color: #d4423b;
}
.project-button:focus {
  border: 1px dotted var(--red);
}
.project-button-small {
  overflow: hidden;
  left: 29%;
  transition: 0.6s;
  transform: translate(-21%, -500%);
}
.big-project-title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  transition: color 0.3s, border-bottom 0.05s;
}
.big-project-title:hover,
.big-project-title:active {
  color: var(--red);
  border-bottom: 2px solid var(--red);
  width: fit-content;
}
.big-project-description {
  font-size: 22px;
  font-weight: 300;
}
.small-project-title {
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  transition: color 0.3s, border-bottom 0.05s;
}
.small-project-title:hover,
.small-project-title:active {
  color: var(--red);
  border-bottom: 2px solid var(--red);
  width: fit-content;
}
.small-project-description {
  font-size: 20px;
  font-weight: 300;
}
.work {
  max-width: 1600px;
  margin: 0 auto;
  padding: 140px 0;
  background-image: url(../img/bg/work-line.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
  overflow: hidden;
}
.work-content-title {
  margin-bottom: 160px;
}
.work-content-title .title-main {
  margin: 0 auto;
}
.work-content {
  max-width: 1005px;
  margin: 0 auto;
}
.work-stage {
  position: relative;
  width: 50%;
  min-height: 200px;
  margin-right: auto;
  margin-left: 37px;
}
.work-stage:nth-child(2n) {
  margin-right: 37px;
  margin-left: auto;
}
.work-stage:nth-child(2n):after {
  right: unset;
  left: 35px;
}
.work-stage:nth-child(2n) .stage-icon {
  right: unset;
  left: 0;
}
.work-stage:nth-child(2n) .stage-text {
  padding-left: 115px;
  padding-right: 0;
  text-align: left;
}
.work-stage:nth-child(2n) .title-stage {
  margin-left: 0;
  margin-right: auto;
}
.work-stage:last-child:after {
  display: none;
}
.work-stage:first-child:before {
  content: "";
  position: absolute;
  top: -80px;
  height: 60px;
  right: 35px;
  width: 4px;
  border-radius: 2px;
  background-color: #dfedf4;
}
.work-stage:after {
  content: "";
  position: absolute;
  top: 94px;
  bottom: 20px;
  right: 35px;
  width: 4px;
  border-radius: 2px;
  background-color: #dfedf4;
}
.stage-icon {
  position: absolute;
  right: 0;
  width: 74px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  transition: 0.4s;
}
.stage-icon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.stage-text {
  padding-top: 22px;
  padding-right: 115px;
  text-align: right;
}
.title-stage {
  margin-left: auto;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 12px;
  line-height: 1;
}
.stage-desc {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.stage-desc:last-child {
  margin-bottom: 0;
}
.stage-time {
  font-weight: 700;
}
.stage-text .line-bottom:after {
  bottom: -1px;
}
.work-link {
  display: block;
}
.work-link:hover .line-bottom:after {
  background-color: var(--red);
}
.line-bottom:after {
  transition: 0.5s;
}
.contacts {
  background-color: #f4f8f9;
}
.contacts-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 150px 0;
  background-image: url(../img/bg/contact-line.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
}
.contacts-title {
  margin-bottom: 70px;
}
.contacts-title .title-main {
  margin: 0 auto;
}
.contacts-raw {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.contacts-raw::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -348px;
  width: 448px;
  height: 280px;
  background-image: url(../img/bg/contacts-bg-dots.png);
}
.contacts-content-wrapper {
  max-width: 520px;
  margin-right: 85px;
}
.contacts-desc {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 1.6;
}
.contacts-connect-container {
  margin-bottom: 45px;
}
.contacts-connect-wrapper {
  margin-bottom: 35px;
}
.contacts-connect-wrapper:last-child {
  margin-bottom: 0;
}
.contacts-connect {
  display: inline-block;
  margin-right: 100px;
  min-width: 100px;
  font-size: 20px;
  font-weight: 700;
}
.contacts-connect-mail {
  color: var(--blue);
  font-weight: 500;
  font-size: 20px;
}
.contacts-connect-address {
  color: #96969d;
  font-weight: 500;
  font-size: 20px;
  transition: 0.3s;
}
.contacts-connect-address:hover {
  color: #47474d;
}
.contacts-form {
  padding: 60px 60px 40px 60px;
  width: 512px;
  background-color: #fff;
  box-shadow: 0px 28px 100px 0px #c2dbeb;
}
.form-item-wrapper {
  margin-bottom: 40px;
}
.form-item {
  position: relative;
  margin-bottom: 25px;
}
.form-item:last-child {
  margin-bottom: 0px;
}
.form-field {
  width: 100%;
  height: 44px;
  border: none;
  border-bottom: 2px solid #eaeaea;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  outline: none;
}
textarea.form-field {
  height: 170px;
  resize: none;
}
.fake-placeholder {
  position: absolute;
  top: 20%;
  left: 0;
  pointer-events: none;
  color: #96969d;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
}
.fake-placeholder.theme {
  top: 60px;
}
.theme {
  min-height: 100px;
}
.fake-placeholder.active {
  color: #ed9626;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: -24px;
  left: 0;
}
.error {
  font-size: 12px;
  color: var(--red);
}
