:root {
  --blue: #039be5;
  --red: #ea736d;
  --basic: #fbdc4d;
  --line: #fbdc4d;
  --button: #fbdc4d;
  --buttonHover: #ffd200;
  --buttonActive: #e1bc10;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'M PLUS 1p';
  font-size: 24px;
  color: #000;
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: black;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
p::selection {
  background-color: var(--basic);
}
h1,
h2,
h3,
h4 {
  font-weight: 800;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
svg {
  width: 100%;
  height: 100%;
  display: block;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
.line-bottom {
  position: relative;
  z-index: 2;
}
.line-bottom:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -5px;
  right: -5px;
  height: 7px;
  background-color: var(--line);
  border-radius: 5px;
  z-index: -1;
}
.title-name .line-bottom:after {
  bottom: 25px;
}
.title-main:after {
  bottom: 20px;
}
.animate-border {
  position: relative;
  width: fit-content;
  z-index: 2;
}
.animate-border:before,
.animate-border:after {
  content: "";
  position: absolute;
  bottom: 3px;
  width: 0;
  height: 4px;
  background-color: var(--line);
  border-radius: 2px;
  transition: .5s;
  z-index: -1;
}
.animate-border:before {
  left: 50%;
}
.animate-border:after {
  right: 50%;
}
.animate-border:hover:before,
.animate-border:hover:after {
  width: 55%;
}
.button {
  display: inline-block;
  background-color: var(--button);
  font-size: 22px;
  font-weight: 700;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 64px;
  border-radius: 64px;
  border: none;
  transition: background-color 0.2s ease-in;
  box-shadow: 0px 8px 20px 0px rgba(122, 116, 89, 0.35);
}
.button:hover {
  background-color: var(--buttonHover);
}
.button:active {
  background-color: var(--buttonActive);
}
.button:focus {
  border: 1px dotted var(--red);
}
.button-contacts {
  display: inline-block;
  color: #464646;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 700;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 56px;
  border-radius: 56px;
  border: 4px solid #464646;
  box-shadow: 0px 8px 20px 0px rgba(122, 116, 89, 0.35);
  transition: color 0.2s ease-in, border 0.2s;
}
.button-contacts:hover {
  border: 4px solid #797979;
  color: #797979;
}
.button-contacts:active {
  color: #181818;
  border: 4px solid #181818;
}
.button-contacts:focus {
  border: 1px dotted var(--red);
}
.title-medium {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1;
}
.title-main {
  font-size: 64px;
  font-weight: 800;
  letter-spacing: 1;
}
.header {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 70px;
  background-image: url(../img/bg/line.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
  overflow: hidden;
}
.header-nav-wrapper {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-size: 42px;
  font-weight: 800;
}
.header-logo:hover {
  opacity: 0.8;
}
.nav-link {
  margin-right: 80px;
  font-size: 20px;
  font-weight: 700;
}
.nav-link:last-child {
  margin-right: 0;
}
.nav-link:focus {
  border: 1px dotted var(--red);
}
.header-nav-icons {
  display: flex;
}
.nav-icon {
  display: inline-block;
  margin-right: 20px;
}
.nav-icon:last-child {
  margin-right: 0;
}
.nav-icon:focus {
  border: 1px dotted var(--red);
}
.nav-icon svg {
  width: 25px;
}
.color-linkedin svg:hover,
.color-linkedin svg:active {
  fill: #0077b5;
}
.color-github svg:hover,
.color-github svg:active {
  fill: #6cc644;
}
.color_vk svg:hover,
.color_vk svg:active {
  fill: #4d76a1;
}
.header-container {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 150px;
  padding-bottom: 80px;
}
.header-content {
  width: 50%;
}
.header-img-wrapper {
  margin-left: 125px;
  position: relative;
  z-index: 2;
}
.header-img-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 30%;
  background-image: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.502;
  z-index: -1;
}
.title-name {
  margin-bottom: 25px;
  font-size: 90px;
  line-height: 1;
  font-weight: 800;
}
.header-content-text {
  margin-bottom: 40px;
  line-height: 1.5;
  font-weight: 500;
  color: #393f47;
}
.header-content-buttons {
  position: relative;
}
.bg-header {
  margin-top: -240px;
  z-index: -2;
}
.header-content-wrapper {
  display: flex;
  padding: 50px 0px 240px 0px;
}
.header-content-skills {
  margin-right: 180px;
}
.header-content-title {
  margin-bottom: 35px;
}
.skills {
  margin-bottom: 60px;
}
.skills li:before {
  content: "— ";
}
.icons-connect {
  display: flex;
  margin-bottom: 25px;
}
.icons-connect-icon {
  margin-right: 30px;
}
.icons-connect-icon:focus {
  border: 1px dotted red;
}
.color-git {
  color: #000;
  transition: color 0.2s ease-in;
}
.color-git:hover {
  color: #000000b6;
}
.circle-vk {
  padding: 6px 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #4d76a1;
  font-size: 25px;
  text-align: center;
  transition: background-color 0.2s ease-in;
}
.circle-vk:hover {
  background-color: #39597a;
}
.color-telegramm {
  color: #039be5;
  transition: color 0.2s ease-in;
}
.color-telegramm:hover {
  color: #085074;
}
.color-facebook {
  color: #3b5998;
  transition: color 0.2s ease-in;
}
.color-facebook:hover {
  color: #284279;
}
.mail-connect {
  text-decoration: underline;
}
.mail-connect:hover {
  text-decoration: underline;
  color: #00b7ff;
}
.mail-connect:active {
  text-decoration: underline;
  color: #f64343;
}
.portfolio {
  padding: 120px 0;
  background-color: #f4f8f9;
}
.portfolio-title-main {
  display: inline-block;
  margin-bottom: 50px;
}
.portfolio-title-main .title-main {
  display: inline-block;
}
.portfolio-progects {
  margin-bottom: 45px;
}
.progect-type {
  margin-right: 80px;
  font-size: 28px;
  font-weight: 800;
  color: #8fa5ae;
  font-family: 'MPLUS 1p', sans-serif;
  border: none;
  background-color: #f4f8f9;
}
.progect-type:hover,
.progect-type:active {
  color: var(--red);
}
.progect-type:last-child {
  margin-right: 0;
}
.chosen {
  color: #000000;
}
.chosen:hover,
.chosen:active {
  color: #000;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project {
  margin-bottom: 65px;
}
.big-project-img {
  display: inline-block;
  margin-bottom: 30px;
}
.big-project-title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}
.big-project-description {
  font-size: 22px;
}
.small-project-img {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 300;
}
.small-project-title {
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}
.small-project-description {
  font-size: 20px;
  font-weight: 300;
}
