* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 24px;
    color: #000;
}

a, a:hover {
    text-decoration: none;
}

a {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    vertical-align: bottom;
}

button,
input {
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    // Для планшетов и выше
    @media (min-width: 768px) {
        padding: 0 30px;
    }
    // Для десктопов
    @media (min-width: 1200px) {
        padding: 0;
    }
}

.line-bottom {
    position: relative;
    z-index: 2;
}

.line-bottom:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: -5px;
    right: -5px;
    height: 7px;
    background-color: #fbdc4d;
    border-radius: 5px;
    z-index: -1;
}

.title-mame .line-bottom:after {
    bottom: 25px;
}

.button {
    background-color:  #fbdc4d;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 64px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    box-shadow: 0px 8px 20px 0px rgba(122, 116, 89, 0.35);

    &:hover {
        background-color:  #e7c013;
    }
}

.button-contacts {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 700;
    padding: 11px 40px;
    border-radius: 56px;
    cursor: pointer;
    border: 4px solid rgb(70, 70, 70);
    box-shadow: 0px 8px 20px 0px rgba(122, 116, 89, 0.35);

    &:hover {
        border: 4px solid #000;
        background-color: rgb(235, 231, 231);
    }
}

.title-medium {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1;
}
