.header {
    max-width: 1600px;
    margin: 0 auto;

    padding-top: 61px;
    background-image: url(../img/bg/line.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
    overflow: hidden;
}

.header-nav-wrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-menu {
    border: 1px solid red;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    z-index: 6;
    
    span {
        width: 100%;
        height: 5px;
        background-color: #191919;
        margin: auto;
        position: relative;
        transition: .3s;

        &:after,
        &:before {
            content: "";
            width: 100%;
            height: 5px;
            background-color: #191919;
            position: absolute;
            left: 0;
            transition: .3s;
        }
        &:after {
            top: -10px;
        }
        &:before {
            bottom: -10px;
        }
    }
    // Для десктопов
        @media (min-width: 1200px) {
        display: none;
    }
}

.toggle-menu.active {
    span {
        background-color: transparent;

        &:after {
            top: 0px;
            transform: rotate(45deg);
        }
        &:before {
            bottom: 0px;
            transform: rotate(-45deg);
        }
    }
}

.header-logo {
    font-size: 42px;      
    font-weight: 800;
    &:hover {
        opacity: 0.8;
    }
}
.header-nav{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    max-width: 380px;
    background-color: #fff;
    z-index: 5;
    // display: none;:
    transform: translateX(100%);
    transition: 0.5s;

    // Для десктопов
     @media (min-width: 1200px) {
        display: block;
        position: relative;
        height: auto;
        width: auto;
        max-width: unset;
        background-color: transparent;
        transform: translateX(0%);

    }
}
.header-nav.active {
    // display: block;
    transform: translateX(0%);
}
.mobile-contacts{
    display: block;
        // Для десктопов
        @media (min-width: 1200px) {
            display: none;
        }
}
.nav-link {
    font-size: 20px;
    font-weight: 700;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;

    &:focus {
        border: 1px dotted var(--red);
        outline: none;
    }

    // Для десктопов
     @media (min-width: 1200px) {
        display: inline-block;

        &+.nav-link {
            margin-left: 70px;
        }
    }
}


.header-nav-icons {
    display: none;

    // Для десктопов
     @media (min-width: 1200px) {
        display: flex;
    }
}
.nav-icon {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
    &:focus {
        border: 1px dotted var(--red);
        outline: none;
    }
}
.nav-icon svg {
    width: 28px;
    transition: 0.2s;
}
.linkedin svg {
    &:hover, &:active {
        fill: #0077b5;
    }
}
.github svg{
    &:hover, &:active {
        fill: #6cc644;
    }
}
.vk svg{
    width: 34px;
    &:hover, &:active {
        fill: #4d76a1;
    }
}

// Если подключаем, через сайт
// .color-linkedin {
//     &:hover, &:active {
//         color: #0077b5;
//     }
// }
// .color-github {
//     &:hover, &:active {
//         color: #6cc644;
//     }
// }
// .color_vk {
//     &:hover, &:active {
//         color: #4d76a1;
//     }
// }



.header-container {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 146px;
    padding-bottom: 80px;
}
.header-content {
    width: 50%;
}
.header-img-wrapper {
    margin-top: 27px;
    position: relative;
    z-index: 2;
}
.header-img-wrapper img{
    margin-left: auto;
}
.header-img-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 30%;
    background-image: linear-gradient( 90deg, rgb(244, 248, 249) 0%, rgba(244,248,249,0) 100%);
    opacity: 0.502;
    z-index: -1;      
}

.title-name {
    margin-bottom: 15px;
    font-size: 90px;
    line-height: 1.2;
    font-weight: 800;
}

.header-content-text {
    margin-bottom: 34px;
    line-height: 1.5;
    font-weight: 500;
    color: #393f47;
}
.header-content-buttons {
    position: relative;
}
.bg-header {
    margin-top: -250px;
    z-index: -2;
}

.header-content-wrapper{
    display: flex;
    padding: 70px 0px 243px 0px;
    margin-top: -79px;
}

.header-content-skills {
    margin-right: 180px;
}
.header-content-title {
    margin-bottom: 27px;
}
.skills {
    margin-bottom: 39px;
}
.skills li {
    margin-bottom: 3px;
}
.skills li:before {
    content: "— ";
}
.header-icon-connect {
    margin-bottom: 18px;
}
.header-content-connect .header-content-title {
    margin-bottom: 35px;
}

.mail-connect {
    border-bottom: 1px solid #000;
    &:hover {
        border-bottom: 1px solid var(--blue);
        color: var(--blue);
    }
    &:active {
        border-bottom: 1px solid var(--red);
        color: var(--red);
    }
}