.portfolio {
    padding: 120px 0;
    background-color: #f4f8f9;
}
.portfolio-title-main {
    display: inline-block;
    margin-bottom: 50px;
}
.portfolio-title-main .title-main{
    display: inline-block;
}
.portfolio-progects {
    margin-bottom: 45px;
}
.progect-type {
    margin-right: 80px;
    font-size: 28px;
    font-weight: 800;
    color: #8fa5ae;
    font-family: 'MPLUS 1p', sans-serif;
    border: none;
    background-color: #f4f8f9;
    &:hover,
    &:active {
        color: var(--red);
    }

    &:last-child {
        margin-right: 0;
    }
}

.chosen {
    color: #000000;
    &:hover,
    &:active {
        color: #000;
    }
}
.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 65px;

    &:last-child{
        margin-bottom: 0;
    }
}
.progect {
    display: inline-block;
}

.big-progect-img {
    display: inline-block;
    margin-bottom: 30px;
}

.big-project-title {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
}

.big-project-description {
    font-size: 22px;
}

// .small-project {
//     display: inline-block;
// }
.small-progect-img {
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 300;

}
.small-project-title {
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
}
.small-project-description {
    font-size: 20px;
    font-weight: 300;
}