.work {
    max-width: 1600px;
    margin: 0 auto;

    padding: 140px 0;
    background-image: url(../img/bg/work-line.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
    overflow: hidden;
}
.work-content-title {
    margin-bottom: 160px;
}
.work-content-title .title-main{
    margin: 0 auto;
}
.work-content {
    max-width: 1005px;
    margin: 0 auto;
}

.work-stage {
        position: relative;

        width: 50%;
        min-height: 200px;
        margin-right: auto;
        margin-left: 37px;
    
        &:nth-child(2n) {
            margin-right: 37px;
            margin-left: auto;
        }
        &:nth-child(2n):after {
            right: unset;
            left: 35px;
        }
        &:nth-child(2n) .stage-icon {
            right: unset;
            left: 0;
         
        }
        &:nth-child(2n) .stage-text {
            padding-left: 115px;
            padding-right: 0;
            text-align: left; 
        }
        &:nth-child(2n) .title-stage {
            margin-left: 0;
            margin-right: auto;
        }

        &:last-child:after {
            display: none;
        }

        &:first-child:before {
            content:"";
            position: absolute;
            top: -80px;
            height: 60px;
            right: 35px;
            width: 4px;
            border-radius: 2px;
            background-color: #dfedf4;
        }
    }

.work-stage:after {
        content:"";
        position: absolute;
        top: 94px;
        bottom: 20px;
        right: 35px;
        width: 4px;
        border-radius: 2px;
        background-color: #dfedf4;

    }

.stage-icon {
    position: absolute;
    right: 0;
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 28px;
    box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
    transition: 0.4s;

    &:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
}

.stage-text {
    padding-top: 22px;
    padding-right: 115px;
    text-align: right; 

}
.title-stage {
    margin-left: auto;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 12px;
    line-height: 1;
}
.stage-desc {
    margin-bottom: 10px; 
    font-size: 18px; 
    font-weight: 500;
    &:last-child {
        margin-bottom: 0;
    }  
}

.stage-time {
    font-weight: 700;    
}
.stage-text .line-bottom:after {
    bottom: -1px;
}

.work-link {
    display: block;
    &:hover .line-bottom:after {
        background-color: var(--red);
    }
}
.line-bottom:after {
    transition: 0.5s;
}
